header {
    display: flex;
    color: white;

    font: 300 1rem;
    justify-content: space-between;

    align-items: center;

    ul {
        display: flex;
        flex-direction: row;

        list-style: none;
        justify-content: space-evenly;
    }

    li {
        margin: .4rem;
        font-size: 1rem;
    }

    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: var(--secondary-accent-color);
        }
    }
}

@media (min-width: 700px) {
    header {
        padding: 1rem;

        li {
            margin: 1rem 2rem;
            font-size: 1.2rem;
        }
    }
}
