h1,
p {
  font-family: Lato;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

:root {
  --color-background: #121214;
  --card-color: #212025;
  --accent-color: #91ff8e;
  --secondary-accent-color: #8257e6;
  --dark-border: #383838;
}
