*{
    font-family: 'Comfortaa', cursive;
}

body{
    background: var(--color-background);
}

header{
    display: flex;
    color: white;

    font: 300 1rem;
    justify-content: space-between;

    padding: 1rem;
    align-items: center;
}

header ul{
    display: flex;
    flex-direction: row;

    list-style: none;
    justify-content: space-between;
}

header li {
    margin: 1rem 2rem;
    font-size: 2rem;
}

.portfolio{
    display: grid;
}

.portfolio img{
    width: 8rem;
    border-radius: 10px;
    margin-right: 2rem;
}

.portfolio ul {
    list-style: none;
    padding: 0 1rem;
}
.portfolio p {
    font: 300 .8rem;
    color: #e6e6e6;
}

.portfolio h2{
    font: 700 1rem;
    color: white;
}

.portfolio h1{
    font-size: 3rem;
    color: white;
    justify-self: center;
}

.application_box{
    background: var(--card-color);
    margin: .6rem .6rem;
    padding: 2rem;

    border-radius: 1rem;
    display: grid;

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;

    height: 15rem;
    align-items: center;
}
.application_box button{
    font: 700 .8rem;
    margin: 0 .4rem;
    margin-left: 0;
    width: 5rem;
    height: 2rem;
    border: none;
    text-transform: uppercase;
    background: var(--secondary-accent-color);
    border: 1px solid var(--secondary-accent-color);
    transition: 300ms;
    border-radius: 4px;
    color: white;
}

.application_box button:hover{
    background: none;
    color:white;
    cursor: pointer;
    transition: 300ms;
}


@media(min-width: 700px){
.portfolio-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}

@media screen and (min-device-aspect-ratio: 21/9) {
    
  }